
<div class="container">
  <div class="row">
    <h2><small>an experiment from</small> <%= @run.study_title %></h2>
    <p><%= @run.study_abstract %></p>
    <% unless @run.study_abstract == @run.study_description %>
      <p><%= @run.study_description %></p>
    <% end %>

    <ul>
      <li>This is <%=@run.run_accession%>, submitted <%= @run.submission_date %></li>
      <li><%=link_to 'View', study_url(@run.study_accession)%> other runs in this study</li>
      <li><%= link_to 'View', "http://www.ncbi.nlm.nih.gov/sra?term=#{@run.run_accession}" %> this run at NCBI</li>
      <% if @pubmed_id %><li><%= link_to 'PubMed publication', "http://www.ncbi.nlm.nih.gov/pubmed?term=#{@pubmed_id}" %> (<%= link_to 'full text', 'http://fail' %>)</li><% end %>
      <li><%= link_to 'Search', scholar_url(@run) %> for publications referring to this study by accession</li>
    </ul>

    long/lat: <%= @run.longitude_latitude.inspect%>

    <% if @run.sample_attribute %>
      <h3>Specifics for this run (<%= @run.run_accession %>):</h3>
      <table class="table">
        <% @run.sample_attributes_array.threesomes.each do |tr| %>
          <tr>
            <td><%= tr[0] %></td>
            <td><%= tr[1] %></td>
            <td><%= tr[2] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="row">
    <div class=span12>
    &nbsp;
    </div>
  </div>
</div>

  <iframe  src="<%= run_iframe_url(@run.run_accession) %>" width="100%" height="1000" style="border: none">
  </iframe>
