
<div class="container">
  <div class="row">
    <h2><small>an experiment from</small> <%= @run.study_title %></h2>
    <p><%= @run.study_abstract %></p>
    <% unless @run.study_abstract == @run.study_description %>
      <p><%= @run.study_description %></p>
    <% end %>

    <ul>
      <li>Submitted <%= @run.submission_date %></li>
      <li><%= link_to 'View', "http://www.ncbi.nlm.nih.gov/sra?term=#{@run.run_accession}" %> this run at NCBI</li>
      <% if @pubmed_id %><li><%= link_to 'PubMed publication', "http://www.ncbi.nlm.nih.gov/pubmed?term=#{@pubmed_id}" %> (<%= link_to 'full text', 'http://fail' %>)</li><% end %>
      <li><%= link_to 'Search', "http://scholar.google.com.au/scholar?q=#{@google_scholar_query}&hl=en&as_sdt=2001&as_sdtp=on" %> for publications refering to this study by accession</li>
    </ul>

    <% if @run.sample_attribute %>
      <h3>Specifics for this run (<%= @run.run_accession %>):</h3>
      <table class="table">
        <% @run.sample_attributes_array.each do |tr| %>
          <tr>
            <td><%= tr[0] %></td>
            <td><%= tr[1] %></td>
            <td><%= tr[2] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div class="row">
    <div class=span12>
    &nbsp;
    </div>
  </div>
</div>

  <iframe src="/sramplicons/run_iframe/<%= @run_id %>" width="100%" height="1000" style="border: none">
  </iframe>
