<div class="container">
  <h2><%= @example_run.study_title %> (<%= @study_id %>)</h2>

  <p><%= @example_run.study_abstract %></p>
  <% unless @example_run.study_abstract == @example_run.study_description %>
    <p><%= @example_run.study_description %></p>
  <% end %>

  <ul>
    <li>Submitted <%= @example_run.submission_date %> under <%=@example_run.submission_accession%></li>
    <li><%= link_to 'View', "http://www.ncbi.nlm.nih.gov/sra?term=#{@example_run.study_accession}" %> this study at NCBI</li>
    <% if @pubmed_id %><li><%= link_to 'PubMed publication', "http://www.ncbi.nlm.nih.gov/pubmed?term=#{@pubmed_id}" %> (<%= link_to 'full text', pubmed_fulltext_url(@pubmed_id) %>)</li><% end %>
    <li><%= link_to 'Search', scholar_url(@example_run) %> for publications referring to this study by accession</li>
  </ul>

  <% if @mode == :prokmsa %>
    <h3>Runs observing these <%= @prokmsa_ids.length %> taxonomy identifier(s):</h3>
  <% else %>
    <h3>Runs observing <%= @taxonomy_id %></h3>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Run</th>
        <th>Relative abundance</th>
        <th>Total Pyrotags</th>
      </tr>
    </thead>

    <% @runs_and_relative_abundance.each_with_index do |run_rel, i|
      run_id = run_rel[0]; relative_abundance = run_rel[1] %>
      <tr>
        <td><%=i+1%></td>
        <td><%= link_to run_id, run_url(run_id) %></td>
        <td><%= HumanMaxPercent.human_max(relative_abundance) %>%</td>
        <td><%= Cluster.select('sum(num_sequences) as num_sequences').where(sra_run_id: run_id).first.num_sequences %></td>
      </tr>
    <% end %>
  </table>
  <h3>Runs not observing</h3>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Run</th>
        <th># Pyrotags</th>
      </tr>
    </thead>
    <% observing_runs = @runs_and_relative_abundance.collect{|a| a[0]}
    non_observed_runs = @all_run_ids.reject{|r| observing_runs.include?(r)}
    non_observed_runs.sort.each_with_index do |run_id, i| %>
      <% next if observing_runs.include?(run_id) %>
      <tr>
        <td><%=i+1%></td>
        <td><%= link_to run_id, run_url(run_id) %></td>
        <td><%= Cluster.select('sum(num_sequences) as num_sequences').where(sra_run_id: run_id).first.num_sequences %></td>
      </tr>
    <% end %>
  </table>
</div>
