<div class="container">
  <h1>Studies observing <%= @taxonomy %></h1>
  <table class="table">
    <thead>
    <tr>
      <td></td>
      <td>Project</td>
      <td>Title</td>
      <td>Max abundance</td>
    </tr>
    </thead>
    <% @grouped_clusters.each_with_index do |proj_cl, i|
      cluster = proj_cl.cluster %>
      <tr><td><%=i+1%></td>
      <td><%= link_to cluster.sra.study_accession, study_with_taxonomy_url(cluster.sra.study_accession, @taxonomy) %></td>
      <td><%= cluster.sra.study_title %></td>
      <td align="right"><%= link_to "#{proj_cl.human_max_percent}%", run_url(cluster.sra_run_id) %></td>
      </tr>
    <% end %>
  </table>
</div>
